/*=============== HOME ===============*/

.home__container {
  margin-top: 5%;
  position: relative;
  row-gap: 1.5rem;
  margin-bottom: 0;
}

.home__img {
  width: 500px;
  height: 550px;
  margin-top: 5%;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-left: 1.2rem;
  background-color: antiquewhite;
}

.home__data {
  margin-top: 5%;
}

/*.home__img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}*/

.home__social {
  position: absolute;
  top: 65%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: 0.3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 4rem;
  text-align: center;
}

.home__description {
  margin-bottom: var(--mb-1-5);
  text-align: center;
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  margin-left: 20%;
  background-color: #bdedfc;
  padding: 1rem;
}

.home__price a {
  color: black;
  text-decoration: none;
  border-radius: 0.3rem;
  width: 1rem;
}

.home__btns {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  border-radius: 0.25rem;
}
