/*=============== STORY ===============*/

.story {
  margin-top: 5%;
  position: relative;
  row-gap: 1.5rem;
  margin-bottom: 10rem;
}

.story__container {
  row-gap: 7.5rem;
}

.story__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.story__description {
  margin-bottom: var(--mb-2-5);
}

.story__images {
  position: relative;
}

.story__img,
.story__square {
  width: 250px;
}

.story__square {
  height: 250px;
  background-color: var(--first-color);
}

.story__img {
  position: absolute;
  left: 3rem;
  top: -3rem;
}

/*=============== PRODUCTS ===============*/

.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: 0.3s;
}

.products__img {
  height: 125px;
  margin-bottom: var(--mb-1);
}

.products__title,
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: 0.4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, 0.1);
}
